#cart_menu{
    display: none;
}

#product_search{
    box-sizing: border-box;
    display: block;
    margin: 0 25px;
    width: calc(100% - 50px);
    border-radius: 15px;
    padding:6px 15px 6px 30px;
    color:#222;
    border:1px solid #d0d0d0;
    background-color:#fcfcfc;
}

#search_form,
#search_result{
    position: relative;
}

#cart{
    position: relative;
    overflow: auto;
}

#cart ul{
    position: relative;
    overflow: auto;
}

.cart-item .remove{
    color: red;
    float: right;
    position: relative;
    margin-right: 10px;
}

#search_form::before{
    content: '\f002';
    font-family: FontAwesome;
    font-size: 15px;
    color:#bcbcbc;

    position: absolute;
    display: block;
    left: 38px;
    top: 9px;
    height: 15px;
    width: 15px;
}

.product-list ul{
    position: absolute;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
}


.product-list li{
    position: relative;
    margin: 0 25px;
    padding: 10px 10px;
    border-bottom: 1px solid #d0d0d0;
}

#cart li{
    margin: 0;
    padding: 15px 0;
}

.product-list li:hover{
    cursor: pointer;
    background-color: #f7f7f7;
}

.product-list li .title{
    display: block;
    font-weight: 700;
}

.product-list li .producer{
    font-size: 10px;
    color: #cbcbcb;
    position: absolute;
    top: 10px;
    right: 10px;
}

#cart .producer{
    display: none;
}

.product-list li .container,
.product-list li .price
{
    display: block;
}

#result{
    position: relative;
}

#view_results{
    position: absolute;
    top: 10px;
    right: 50px;
    color: #000;
    cursor: pointer;
}
#result_details span{
    display: block;
}

#result .error,
#result .success
{
    padding: 10px;
}
#search_bar{
    position:relative;
}
.clear-helper{
    position: absolute;
    right: 50px;
    top: 6px;
    font-size: 14px;
    cursor: pointer;
    background: #ccc;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    line-height: 14px;
}

@media screen and (max-width: 800px) {
    #cart_menu {
        display: block;
        width: 50px;
        height: 55px;
        position: fixed;
        bottom: 0;
        right: 0;
        background: #000;
        z-index: 15000;
        -webkit-border-top-left-radius: 10px;
        -moz-border-radius-topleft: 10px;
        border-top-left-radius: 10px;
        transition: right .2s ease-in-out;
    }

    #cart_menu:after {
        content: "\f07a";
        display: block;
        position: absolute;
        font-family: FontAwesome;
        left: 10px;
        top: 15px;
        color: #fff;
        font-size: 26px
    }

    #cart_menu:before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: #000;
        opacity: 0;
        display: block;
        visibility: hidden;
        transition: opacity .2s ease-in-out
    }

    .active #cart_menu:before {
        transition: opacity 0.2s ease-in-out;
        opacity: 0.7;
        visibility: visible;
    }

    .active #cart_menu {
        right: 75%
    }

    .module-sidebar {
        box-sizing: border-box;
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 15000;
        left: 100%;
        width: 75%;
        padding: 10px;
        background: #000;
        overflow: auto;
        color: #fff;
        transition: left .2s ease-in-out
    }

    .module-sidebar input,
    .module-sidebar select
    {
       color: #000;
    }

    #cart ul{
        height: auto;
    }

    .active .module-sidebar {
        left: 25%
    }

    #view_results {
        right: 25px;
    }

    .inline-2-3{
        display: block;
        float: none;
        width: 100%;
    }

    span.producer{
        display: none;
    }

}
